# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Artifacts / models
artifacts/*.joblib
artifacts/*.pkl
